spring:
  datasource:
    url: jdbc:mysql://localhost:3306/my_movie_night?useSSL=false
    username: root
    password: adgjmptx
    platform: mysql
  session:
    store-type: jdbc
    timeout: 605000
server:
  port: 8001
