{% extends "base.twig" %}
{% block pageTitle %}Adauga un film nou{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-3 text-center" id="searchMovie">
            <div class="col-12">
                <h4>
                    Cauta un film...
                </h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-film"></i></span>
                    </div>
                    <input id="movieName" name="movieName" autofocus="" class="form-control form-control-sm" type="text"
                           title="Nume film" placeholder="Nume film">
                </div>
            </div>
        </div>
        <div id="searchResults"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let movieName = $('#movieName');

        movieName.on('keypress', function (e) {
            let keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                movieName.attr('disabled', true);

                $.ajax({
                    type: "GET",
                    url: '/search-movie/' + encodeURIComponent(movieName.val().trim()),
                    success: function (data) {
                        if (data.status === 200) {
                            $('#searchMovie').addClass('d-none');
                            $('#searchResults').html(data.html);

                            window.history.pushState({
                                "html": data.html,
                                "pageTitle": "Adauga un film nou"
                            }, "", "/search/" + movieName.val());
                        } else {
                            alert('[' + data.status + '] ' + data.responseJSON.message);
                        }
                        movieName.removeAttr('disabled');
                        movieName.val('');
                    },
                    error: function (data) {
                        alert('[' + data.status + '] ' + data.responseJSON.message);
                        movieName.removeAttr('disabled');
                        movieName.val('');
                    }
                })
            }
        });

        {% if movieName is defined %}
            movieName.val('{{ movieName }}');

            let press = $.Event("keypress");
            press.ctrlKey = false;
            press.which = 13;
            movieName.trigger(press);
        {% endif %}
    </script>
{% endblock %}
